Feature Scaling

In [1]:
pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (1.6.1)
Collecting scikit-learn
  Downloading scikit_learn-1.7.2-cp312-cp312-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.22.0 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (2.1.3)
Requirement already satisfied: scipy>=1.8.0 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.6.0)
Downloading scikit_learn-1.7.2-cp312-cp312-win_amd64.whl (8.7 MB)
   ---------------------------------------- 0.0/8.7 MB ? eta -:--:--
   - -------------------------------------- 0.3/8.7 MB ? eta -:--:--
   -- ------------------------------------- 0.5/8.7 MB 1.7 MB/s eta 0:00:05
   --- ------------------------------------ 0.8/8.7 MB 1.9 MB/s eta 0:00:05
   ------ --------------------------------- 1.3/8.7 MB 1.7 MB/s eta 0:00:05
   ------- -------------------------------- 1.6/8.7 MB 1.5 MB/s eta 0:00:05
   -------- ------------------------------- 1.8/8.7 MB 1.6 MB/s eta 0:00:05
   --------- ------------------------------ 2.1/8.7 MB 1.5 MB/s eta 0:00:05
   ---------- ----------------------------- 2.4/8.7 MB 1.6 MB/s eta 0:00:05
   -------------- ------------------------- 3.1/8.7 MB 1.7 MB/s eta 0:00:04
   ---------------- ----------------------- 3.7/8.7 MB 1.7 MB/s eta 0:00:03
   ------------------ --------------------- 3.9/8.7 MB 1.7 MB/s eta 0:00:03
   -------------------- ------------------- 4.5/8.7 MB 1.8 MB/s eta 0:00:03
   ------------------------ --------------- 5.2/8.7 MB 1.9 MB/s eta 0:00:02
   ---------------------------- ----------- 6.3/8.7 MB 2.1 MB/s eta 0:00:02
   ------------------------------- -------- 6.8/8.7 MB 2.2 MB/s eta 0:00:01
   --------------------------------- ------ 7.3/8.7 MB 2.2 MB/s eta 0:00:01
   ------------------------------------ --- 7.9/8.7 MB 2.2 MB/s eta 0:00:01
   -------------------------------------- - 8.4/8.7 MB 2.2 MB/s eta 0:00:01
   ---------------------------------------- 8.7/8.7 MB 2.2 MB/s  0:00:03
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.6.1
    Uninstalling scikit-learn-1.6.1:
      Successfully uninstalled scikit-learn-1.6.1
Successfully installed scikit-learn-1.7.2
Note: you may need to restart the kernel to use updated packages.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
sklearn-compat 0.1.3 requires scikit-learn<1.7,>=1.2, but you have scikit-learn 1.7.2 which is incompatible.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import kagglehub

c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
path = kagglehub.dataset_download("shrutimechlearn/churn-modelling")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\ASUS\.cache\kagglehub\datasets\shrutimechlearn\churn-modelling\versions\1

In [5]:
df = pd.read_csv(f"{path}/Churn_Modelling.csv")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [7]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [8]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
df.describe().round(2)

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,10000.0
mean,5000.50,15690940.57,650.53,38.92,5.01,76485.89,1.53,0.71,0.52,100090.24,0.2
std,2886.90,71936.19,96.65,10.49,2.89,62397.41,0.58,0.46,0.50,57510.49,0.4
min,1.00,15565701.00,350.00,18.00,0.00,0.00,1.00,0.00,0.00,11.58,0.0
25%,2500.75,15628528.25,584.00,32.00,3.00,0.00,1.00,0.00,0.00,51002.11,0.0
50%,5000.50,15690738.00,652.00,37.00,5.00,97198.54,1.00,1.00,1.00,100193.92,0.0
75%,7500.25,15753233.75,718.00,44.00,7.00,127644.24,2.00,1.00,1.00,149388.25,0.0
max,10000.00,15815690.00,850.00,92.00,10.00,250898.09,4.00,1.00,1.00,199992.48,1.0

Normalization

In [10]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [11]:
new_df = pd.DataFrame(df,  columns=['Age', 'Tenure'])
new_df.head()

   Age  Tenure
0   42       2
1   41       1
2   42       8
3   39       1
4   43       2

In [12]:
new_df['Age']=new_df["Age"].fillna(new_df['Age'].mean())

In [13]:
scaler = MinMaxScaler() #Instantiating the min max scaler
normalized_df = scaler.fit_transform(new_df)
print(normalized_df)

[[0.32432432 0.2       ]
 [0.31081081 0.1       ]
 [0.32432432 0.8       ]
 ...
 [0.24324324 0.7       ]
 [0.32432432 0.3       ]
 [0.13513514 0.4       ]]

Another Example

In [15]:
x_array = np.array([[2],[3],[5],[7],[6]])

scaler = MinMaxScaler()  # instantiate the scaler
normalized_df = scaler.fit_transform(x_array)
print(normalized_df)

[[0. ]
 [0.2]
 [0.6]
 [1. ]
 [0.8]]

Task-2 Standardization

In [16]:
scaler = StandardScaler()
scaled_data = scaler.fit_transform(new_df)
print(scaled_data)

[[ 0.29351742 -1.04175968]
 [ 0.19816383 -1.38753759]
 [ 0.29351742  1.03290776]
 ...
 [-0.27860412  0.68712986]
 [ 0.29351742 -0.69598177]
 [-1.04143285 -0.35020386]]

In [17]:
x_array = np.array([[2],[3],[5],[7],[6]])

scaler = StandardScaler()
scaled_data = scaler.fit_transform(x_array)
print(scaled_data)

[[-1.40182605]
 [-0.86266219]
 [ 0.21566555]
 [ 1.29399328]
 [ 0.75482941]]